@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section_portfolio {
    margin-top: 8px;
  }

  .card_media {
    display: block !important;
  }

  .titre_h2_to_right {
    padding: 8px 0 20px 16px;
  }

  .titre_h2 {
    font-size: 36px;
  }

  .card_container {
    margin: 15px 3% 15px 3%;
    gap: 20px;
  }

  .card_content {
    padding: 16px;
  }

  .card {
    min-width: 100%;
    min-height: auto;
    display: none;
  }

  .outil_titre_h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .card_image {
    display: none;
  }

  .card_to_left {
    transform: translateX(0);
    transform: translateY(50px);
  }

  .card_to_right {
    transform: translateX(0);
    transform: translateY(50px);
  }
}
