@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section_portfolio {
    margin-top: 8px;
  }

  .titre_h2_to_right {
    padding: 8px 0 20px 16px;
  }

  .titre_h2 {
    font-size: 36px;
  }

  .card_container {
    margin: 15px 3% 15px 3%;
    gap: 20px;
  }

  .card_content {
    padding: 16px;
  }

  .card {
    min-width: 100%;
    min-height: auto;
  }

  .card_with_background_img {
    min-width: 100%;
    min-height: auto;
    background-image: url("../../../images/booki_site.PNG");
    background-size: cover; /* Ajustez ceci en fonction de vos besoins */
    background-position: center; /* Ajustez ceci en fonction de vos besoins */
    position: relative; /* Ajoutez cela pour que le texte reste au-dessus de l'image */
    text-decoration: none; /* Supprimez le soulignement par défaut du lien */
    opacity: 0.1;
  }

  .outil_titre_h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .card_image {
    display: none;
  }
}
