.container {
  width: 180px;
}

.btn_container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--couleur_btn_border);
  outline: none;
  transition: 0.7s ease-in-out;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: var(--couleur_btn_hover);
}

.btn span {
  color: var(--couleur_navbar_text);
  font-size: 20px;
  font-weight: 100;
}

.btn:hover span {
  color: black;
}
