/************************************/
/************GESTION TITRE***********/
/************************************/

.section_skill {
  position: relative;
  margin-top: 16px;
}

.titre_h2_skill {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 40px;
  font-size: 50px;
  color: var(--couleur_hover);
  user-select: none;
}

.titre_h2_skill::before {
  content: "";
  background-color: var(--couleur_navbar_border);
  width: 100%;
  height: 3px;
  position: absolute;
  right: 0;
  top: 0;
}

span.titre_h2_skill:hover {
  color: var(--couleur_titres);
}

.titre_h2_to_right {
  padding-left: 32px;
}

/************************************/
/************GESTION CARTE***********/
/************************************/

.skill_card_container {
  margin: 77px auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.skill_card {
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 26px -2px var(--couleur_box_shadow_skill_card);
  transition: opacity 0.6s, transform 0.6s;
  opacity: 0;
  background-color: var(--couleur_fond);
}

.card_image_container {
  margin: 0;
  width: 150px;
}

.card_image_container img {
  width: 100%;
}

.card_image_figcaption {
  text-align: center;
  color: var(--couleur_titres);
  font-weight: 600;
  margin-top: 15px;
}

/************************************/
/******GESTION APPARITION CARTE******/
/************************************/

.skill_card.appear {
  opacity: 1;
  transform: translateY(0);
}

.skill_card {
  transform: translateY(-50px);
}
