.menu {
  width: 10rem;
  background-color: var(--couleur_menu);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.4s;
}

/************************************/
/**********GESTION DROPDOWN**********/
/************************************/

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 6px;
  right: 11px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  visibility: hidden;
}

.nav-toggler::after {
  background-color: var(--couleur_fond);
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  bottom: 10px;
  left: -6px;
  width: 63px;
  height: 46px;
  z-index: -1;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--couleur_line_dropdown);
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.nav-toggler.active::after {
  opacity: 0;
}

.menu_dropdown {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100vw;
  min-height: 21vh;
  background: var(--couleur_menu_dropdown);
  border-bottom: 1px solid var(--couleur_border_bottom_dropdown);
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  z-index: 10;
  padding: 20px;
}

.menu_dropdown.active {
  transform: translate(0);
}

.menu_dropdown_lien {
  padding: 15px;
  text-decoration: none;
  color: var(--couleur_navbar_text);
  font-size: 18px;
}

.social_dropdown {
  grid-column: span 2; /* Span sur 2 colonnes */
  text-align: center; /* Centre les éléments horizontalement dans la div */
}
