:root {
  --couleur_fond: #1d1d1d;
  --couleur_navbar_text: #909096;
  --couleur_menu: #181818;
  --couleur_navbar_border: #282828;
  --couleur_hover: rgb(0, 212, 212);
  --couleur_background_protfolio: rgb(10, 71, 71);
  --couleur_form: #f5f5f5;
}
