:root {
  --couleur_fond: #1d1d1d;
  --couleur_navbar_text: #909096;
  --couleur_menu: #181818;
  --couleur_navbar_border: #282828;
  --couleur_hover: #00d4d4;
  --couleur_background_protfolio: #0a4747;
  --couleur_form: #f5f5f5;
  --couleur_titres: white;
  --couleur_card: #ffffff;
  --couleur_menu: #181818;
  --couleur_btn_border: #8fc9ff;
  --couleur_btn_hover: #009c9c;
  --couleur_btn_contact: #0a4747;
  --couleur_line_dropdown: #f1f1f1;
  --couleur_menu_dropdown: #111;
  --couleur_border_bottom_dropdown: #cfcfcf;
  --couleur_btn_cv: #0a4747;
  --couleur_btn_cv_cricle: #8fc9ff;
  --couleur_btn_cv_span: #0a4747;
  --couleur_box_shadow_skill_card: #000000;
}

[data-theme="light"] {
  --couleur_fond: #f8ede3;
  --couleur_titres: #252525;
  --couleur_menu: #fdf1e1;
  --couleur_hover: #a2b29f;
  --couleur_card: #bdd2b6;
  --couleur_background_protfolio: #798777;
  --couleur_btn_border: #bdd2b6;
  --couleur_btn_hover: #a2b29f;
  --couleur_btn_contact: #798777;
  --couleur_line_dropdown: #798777;
  --couleur_menu_dropdown: #a2b29f;
  --couleur_navbar_text: #252525;
  --couleur_navbar_border: #798777;
  --couleur_border_bottom_dropdown: #252525;
  --couleur_btn_cv: #bdd2b6;
  --couleur_btn_cv_cricle: #798777;
  --couleur_btn_cv_span: #bdd2b6;
  --couleur_box_shadow_skill_card: #444e41;
}
