@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text_zone {
    margin: 0 32px 259px 60px;
  }
  .card:nth-child(odd) {
    align-self: normal;
  }
  .titre_h1 {
    font-size: 69px;
  }
  .diplome {
    font-size: 16px;
  }

  .btn span {
    font-size: 18px;
  }
  .btn {
    width: 145px;
    height: 48.3px;
  }
  .btn svg {
    display: none;
  }
}
