* {
  font-family: "Open sans", "Arial";
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--couleur_fond);
  padding-left: 160px;
  transition: background-color 0.4s;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}
